<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Colombian Espresso</title>
	<!-- Materialize minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon">
	<!-- J Query -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--google fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Noto+Serif+JP&family=Rye&display=swap" rel="stylesheet">
	<!--Local js files-->
	<script type="text/javascript" src="js/passport.js"></script>
	<script type="text/javascript" src="js/Classifieds.js"></script>
	<script type="text/javascript" src="js/Post.js"></script>
	<script src="js/materialize.js"></script>
	<script src="js/init.js"></script>
	<script src="server.js"></script>
	<script src="js/weather.js"></script>
	<!-- Custom CSS  -->
	<link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection">



</head>

<body>
	<div class="navbar-fixed">
		<nav class="nav-wrapper white">
			<div class="left">
				<a id="logo-container" href="/" class="brand-logo"
					style="color:black; font-family: 'Rye', cursive">
					<img src="images/logo2.jpg" class="responsive-img">&nbsp; Welcome To The Coffee House!</a>
			</div>
			<ul class="right hide-on-med-and-down">
				<li><a href="/login" ; style="color:black;">Login / Sign Up</a></li>
			</ul>
			<ul class="right hide-on-med-and-down" id="#nav_menu">
				<li><a class="nav_button" href="/"
						style="font-size: x-large; color: black; font-family: 'Noto Serif JP', serif;">News Feed</a>
				</li>
				<li><a class="nav_button" href="/classifieds"
						style="font-size: x-large;  color: black; font-family: 'Noto Serif JP', serif;">Classifieds</a>
				</li>
				<li><a class="nav_button" href="/news"
						style="font-size: x-large;  color: black; font-family: 'Noto Serif JP', serif;">Local Weather</a>
				</li>
			</ul>
			<ul id="nav-mobile" class="sidenav">
				<li><a href="/"
						style="font-size: x-large; color: black; font-family: 'Noto Serif JP', serif;">News Feed</a>
				</li>
				<li><a href="/classifieds"
						style="font-size: x-large;  color: black; font-family: 'Noto Serif JP', serif;">Classifieds</a>
				</li>
				<li><a href="/news"
						style="font-size: x-large;  color: black; font-family: 'Noto Serif JP', serif;">Local Weather</a>
				</li>
			</ul>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	</div>
	</nav>
	</div>

	{{{ body }}}

	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container" style="margin-top: 150px;">
				<div class="row center">
					<h5 class="black-text" class="head-font"><strong>We are always brewing up new ideas to keep your life fresh and
							bold!</strong></h5>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="/images/background3.jpg" alt="Unsplashed background img 3"></div>
	</div>

	<footer class="page-footer brown">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text"><u>Team Bio</u></h5>
					<p class="grey-text text-lighten-4">We are a team of students from Vanderbilt Bootcamp working on
						this project like it's our
						full time job. We love to code and are always looking for better and more innovatie ways to
						improve our applications.</p>
				</div>

				<div class="col l3 s12">
					<h5 class="white-text"><u>Site Map</u></h5>
					<ul>
						<li><a class="white-text" href="/">News Feed</li>
						<li><a class="white-text" href="/classifieds">Classifieds</a></li>
						<li><a class="white-text" href="/news">Local News</a></li>
						<li><a class="white-text" href="/login">Login / Sign Up</a></li>
					</ul>
				</div>

				<div class="col l3 s12">
					<h5 class="white-text"><u>Connect</u></h5>
					<ul>
						<li><a class="white-text" target="blank" href="mailto:jaswhitehead@gmail.com">Email Us</a></li>
						<li><a class="white-text" target="blank"
								href="https://github.com/jaswhitehead/colombianespresso">GitHub Repo</a></li>
						<li><a class="white-text" target="blank"
								href="https://bootcamps.vanderbilt.edu/coding/">Vanderbilt Bootcamp</a></li>
					</ul>
				</div>

			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Built by: <a target="_blank" class="brown-text text-lighten-3"
					href="https://github.com/jaswhitehead/colombianespresso">Anthony, Mason, Tyree & JSON</a>
			</div>
		</div>
	</footer>
</body>

</html>