<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Colombian Espresso</title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/styles/styles.css" type="text/css">

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Materialize minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	
</head>

<body>
	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo"><img src="images/logo2.jpg" class="responsive-img"></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#">Login / Sign Up</a></li>
		</ul>

		<ul id="nav-mobile" class="sidenav">
			<li><a href="#">Navbar Links</a></li>
		</ul>
		<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		</div>
    </nav>
	{{{ body }}}
</body>
</html>
