  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/background6.jpg" alt="Unsplashed background img 1"></div>
  </div>

<!-- Start Local News -->

<!-- CSS Reset Test Link 
<link href="/styles/reset.css" type="text/css" rel="stylesheet" media="screen,projection"> 
-->

<!-- Weather API -->


    <div class="weather-container">
      <div class="Jumbotron" style="background-color: rgb(97, 83, 73); color: white;">
            <h1 class="text-center" class="head-font"><strong><i class="medium material-icons">wb_sunny</i> Your Local Weather</strong></h1>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="form-control" id="search-term" placeholder="ex. Murfreesboro">
            <label for="search-term" style="font-size:X-large;"><strong>Name Your City:</strong></label>
            <button id="search_button" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>


     <div id="weather-info" class="list-group-item">
       <ul>


    <div id="weather-info">
      <ul>

          <li><img class="icon"></li>        
          <li class="weather"></li>
          <li class="temp"></li>
          <li class="description">Description: </li>
          <li class="feelsLike">Feels Like: </li>
          <li class="humidity">Humidity: </li>
          <li class="windSpeed">Wind Speed: </li>
      </ul>
    </div>
<!-- End Weather -->

<!-- Second API -->
   
<!-- <div class="news-container">
      <div class="Jumbotron" style="background-color: rgb(97, 83, 73); color: white;">
            <h1 class="text-center" class="head-font"><strong>Your Local News </strong><i class="medium material-icons">speaker_notes</i> </h1>
      </div>
      <ul>
          <li><img class="title">Title: </li>        
          <li class="author">Author: </li>
          <li class="description">Description: </li>
          <li class="url">Link: </li>
          <li class="urlToImage">Image Link: </li>
          <li class="content">Content: </li>
        </ul>
      
    </div> -->


