  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/background6.jpg" alt="Unsplashed background img 1"></div>
  </div>

<!-- Start of Job Search Code -->
  <h1>Lets find some Jobs!</h1>

  <!-- Job Search Form -->
  <form id="search-jobs">
    <h5>Profession Type: </h5>
    <input type="text" id="jobType" placeholder="Job Title">
    <h5>Location: </h5>
    <input type="text" id="location" placeholder="City, State">      
    
    <!-- Submit Button -->
    <button id="findJobs" type="button" class="btn btn-primary float-right" name="button">Find Jobs</button>
  </form>

  <!-- Job Information -->
  <div id="results-div"></div>



  <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="/js/jobs.js"></script>