.list-group-item {
  background-color: rgb(236,208,168);
  border: rgb(139,72,11);
  border-style: ridge;
  border-width: 5px;
  margin: 5px;
 
}

*{
  font-family: 'Noto Serif JP', serif;
}

body{
  background-color: rgb(209,198,171);
}

form{
  background-color: rgb(236,208,168);
  border: rgb(139,72,11);
  border-style: ridge;
  border-width: 5px;
}

.head-font{
  font-family: 'Cinzel', serif;
  background-color: rgb(97,83,73);
  color: white;
  border: rgb(139,72,11);
  border-style: ridge;
  border-width: 5px;
}

.title-font{
  font-weight: bold;
  font-size: larger;
}

.other-font{
  font-size: small;
}

::placeholder{
  color: grey;
}
/* font-family: 'Cinzel', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Rye', cursive */


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.weather-container {
  background: rgb(209, 198, 171);
  text-align: center;
}

.weather {
  font-size: 22px;
  margin: 0;
}

.temp {
  font-size: 60px;
  margin: 0;
  font-weight: bold;
}

.news-container {
  background: rgb(209, 198, 171);
  text-align: center;
}